main{
    margin-top: 60px;
}
.headDiv{
    height: 20px;
}
#secPrinc iframe{
    max-width: 170px;
    max-height: 100px;
}
#secPrinc img{
    object-fit: cover;
    min-height: 200px;
}
#secPrinc a{
    color: rgb(91, 198, 248);
}
#secPrinc a:hover{
    color: rgb(54, 51, 245);
}
footer img{
    height: 50px;
}
#announce{
    background-image: linear-gradient(rgb(230, 230, 230),white,rgb(224, 223, 223));
    margin-bottom: 10px;
    border-radius: 2%   ;
}
.h2Anunciate{
    text-align: center;
}
.h2Contacto{
    text-align: center;
}
#mainAcerca .card-body{
    background-color: rgb(192, 218, 252);
}
#mainAcerca .card-text{
    text-align: justify;
}
#carP img{
    height: 35vh;
    object-fit: cover;
}
#h2Index{
    background-image: linear-gradient(rgb(228, 228, 228),white);
    color: black;
}
.h3Index{
    color: blue;
}
#carIndex p{
    font-weight: bold;
    background-color: black;
}
#logo{
    animation-name: logo;
    animation-duration: 5s;
    animation-iteration-count: 2;
}
@keyframes logo {
    25%{transform: translateX(5vw); color: red;}
    50%{transform: translateX(15vw); color: yellow;}
    75%{transform: translateX(30vw); color: black;}
    100%{transform: translateX(45vw); color: aqua;}
    
}
@media screen and (min-width: 600px) {
    #carP img{
        height: 50vh;
    }
    
}